<div class="tphoto cards" [@cardAnimator]="animationState" (@cardAnimator.done)="resetAnimationState($event)"
  (swipeleft)='startAnimation("swipeleft")' (swiperight)='startAnimation("swiperight")'>
  <ion-gird>
    <ion-row>
      <ion-col style="padding: 0px;">
        <div class="cards-imgContent">
          <img src="./assets/image/keerthy2.jpg" title="tphoto" alt="Tinder Photo" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="height: 25px;">
      <ion-col class="cards-biod">
        <ion-icon class="content-left" style="color: blue;" name="star-outline"></ion-icon>
        <p class="content-left" style="color: blue;">Verified</p>
        <ion-icon class="content-left" style="color: blueviolet;" name="medical-outline"></ion-icon>
        <p class="content-left" style="color: blueviolet;">Premium NRI</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="cards-name">Keerthana</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="cards-address">27Yrs,5ft 6in,Tamil,Nair,MBBS,Doctor,Tamilnadu,chennai
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="cards-footer">
        <ion-icon class="content-left content-top" name="star-outline"></ion-icon>
        <p class="content-top cards-footer-shows">ShortList</p>
        <p class="content-top cards-footer-likes">Like Her?</p>
        <button mat-button class="cards-footer-noBtn" (click)='cardAnimation("swiperight")'>
          <ion-icon name="close-outline"></ion-icon>
        </button>
        <button mat-button class="cards-footer-yesBtn" (click)='cardAnimation("swipeleft")'>
          <ion-icon name="checkmark-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-gird>
</div>